nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;

}

.logo {
  width: 40px;
  padding: 30px;

}

a {
  color: #f1d244;
  margin: 10px;
  text-decoration: none;
  padding: 20px;

}

li {
  list-style: none;
  margin: 12px;

}


ol {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;

}

.aboutme {



  padding: 20px;
  color: white;
  display: flex;


}

.avatar {
  width: 100px;
  height: 100px;
  padding: 20px;
  justify-content: space-between;

}

.written {
  padding: 20px;
  justify-content: space-around;


}



h3 {
  color: #f1d244;

}

body {
  background-color: rgb(36, 41, 46);
  display: flex;
  color: white;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 700px) {
  .written {
    max-width: 500px;
  }
}


.card {
  background-color: #f1d244;
  display: flex;
  justify-content: center;
}

.name-head {

  text-align: center;
  color: #f1d244;
}

.pro-1 {


  background-color: rgb(36, 41, 46);
  width: 300px;
  text-align: center;
  margin: 10px;
}




.contact {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}

.social {
  background-color: #f1d244;
  margin: 5px;

}

.about-me {
  color: white;
}

.contact-head {
  height: 50px;
  width: 100%;
  text-align: center;
  color: #f1d244;
}

.form1 {

  background-color: rgb(36, 41, 46);
  padding: 10px;
  margin: 10px;
  width: 40%;
  text-align: center;
}




input[type=submit] {

  background-color: #f1d244;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.end {
  text-align: center;
  background-color: #f1d244;
  color: black;
}

.headshot {
  color: #f1d244;
  padding: 20px;
  text-align: center;
}

button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

